.thank-you-wrap {
  border-top: 2px solid var(--pressed-state-color);
}

.thank-you-message {
  text-align: center;
  padding: 30px;
}
.thank-you-img {
  margin: auto;
}
.thank-you-img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .thank-you-img {
    width: 400px;
  }
  .thank-you-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .thank-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 50px;
  }
  .thank-you-img {
    width: 600px;
  }
}
